/*Verde: #008178
Gris:    #575656

Colores secundarios (Transparencias fotos)

Negro: #000000 con transparencia al 50%
Verde: #008178 con transparencia al 70%
Azul:   #0071BC con transparencia al 50%
Verde: #006837 con transparencia al 50%
*/

@font-face {
    font-family: 'Calibri';
    src: url(../fonts/calibri.ttf);
}

@font-face {
    font-family: 'Calibri Bold';
    src: url(../fonts/calibrib.ttf);
}

@font-face {
    font-family: 'Blue';
    src: url(../fonts/Blue.ttf);
}

* {
	font-family: 'Calibri';
	font-size: 1.2rem;
}

h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.3rem;
}
p {
	font-size: 1.2rem;
}

body {
	margin-top: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#main-menu {
	background: rgba(255, 255, 255, 1);
	padding: 0 10px;
	margin: 0;
	border: 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 900;
	height: 5rem;
	left: 0;
	justify-content: space-between;
	max-height: 100%;
	align-items: center;
	display: flex;
}
#main-menu figure {
	height: 4rem;
	padding: 0;
	margin: 0 0 0 20px;
}
#main-menu img.logo {
	height: 2.5rem;
}
#main-menu > ul {
	font-size: 0;
	height: 5rem;
	display: inline-flex;
	justify-content: space-around;
	align-content: flex-end;
	padding: 0;
	margin: 0;
	align-items: center;
}
#main-menu > ul > li {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 5rem;
}
#main-menu > ul > li > a {
	font-family: 'Calibri';
	border-radius: 0;
	background: transparent;
	color: #575656;
	text-transform: uppercase;
	text-align: center;
	padding: 0.7rem 0.5rem 0.3rem 0.5rem;
	border-bottom: 3px solid transparent;
	font-size: 1.4rem;
	line-height: 3.8rem;
}
#main-menu > ul > li > a:hover, #main-menu > ul > li > a.active {
	background: transparent;
	border-bottom: solid 3px #575656;
	color: #575656;
}

section.full-display {
	background-repeat: no-repeat;
	background-position: 50%;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	-webkit-animation: backgroundSize 3s 1; /* Safari 4.0 - 8.0 */
    animation: backgroundSize 3s 1;
}

a.up-button, a.down-button {
	position: absolute;
	left: 50%;
	transform: translateX(-0.75rem);
	width: 1.5rem;
	z-index: 1102;
	animation: blink 2s infinite; 
}
a.up-button {
	top: 20px;
}
a.down-button {
	bottom: 20px;
}
a.up-button img, a.down-button img {
	width: 1.5rem;
}

figure.logo, figure.services-img {
	width: 250px;
	margin: 3em;
}
figure.logo img, figure.services-img img {
	width: auto;
}

/*Services*/

.black-bg {
	background: rgba(0,0,0,0.5);
	color: white;
}
.green-bg {
	background: rgba(0, 129, 120, 0.7);
	color: white;
}
.blue-bg {
	background: rgba(0, 113, 188, 0.5);
	color: white;
}
.light-blue-bg {
	background: rgba(6, 54, 75, 0.7);
	color: white;
}
.light-green-bg {
	background: rgba(0, 104, 55, 0.5);
	color: white;
}
.white-bg {
	color: #008178;
}

.quote {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
strong, .strong {
	color: #008178;
}
#services-intro .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 0 2.5%;
}
#services-intro .container > p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.features {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
.features .item {
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
.features .item .item-icon {
	display: flex;
	align-content: center;
	align-items: center;
	border: 3px #008178 solid;
	height: 85px;
	width: 85px;
	margin: auto;
	border-radius: 10rem;
	padding: 1rem;
	justify-content: center;
}
.features .item h3 {
	text-align: center;
	border-bottom: 3px solid #008178;
	padding-bottom: 10px;
	color: #008178;
}
.full-display article.right, .full-display article.left {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	transition: 1s;
}
article.right {
	float: right;
	margin-right: -50%;
}
article.left {
	float: left;
	margin-left: -50%;
}
section:hover article.right, section:hover article.left {
	margin: 0;
}

#home {
	background-image: url(../img/home.png);
}
#mision-limpieza1 {
	background-image: url(../img/limpieza.png);
}
#mision-limpieza2 {
	background-image: url(../img/suministros_de_insumos.png);
}
#mision-especializada {
	background-image: url(../img/especializada.png);
}
#mision-mantener {
	background-image: url(../img/mantener.png);
}
#mision-natural {
	background-image: url(../img/natural.png);
}

#home .slogan {
	/*background: rgba(255,255,255,0.2);
	color: white;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 4rem;
	right: 0;
	left: 0;*/

	background: rgba(0,0,0,0.2);
	color: white;
	padding: 7rem;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	align-items: end;
	text-transform: uppercase;
}
#home .slogan h2 {
	padding: 0.5rem;
	font-family: 'Blue';
	font-size: 2rem;
	font-style: italic;
	border-bottom: 3px solid white;
	text-shadow: 1px 5px 10px black;
	animation: 3s changeFontSize 1;
}

#contact .separator, #services-intro .separator {
    padding: 5rem 0.5em 0.5em 0.5em;
    text-align: center;
    font-style: italic;
}

article .container {
	padding: 15%;
}

.services-img {
	display: flex;
	justify-content: center;
}

#contact {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
}

#contact .container {
	width: 100%;
	padding: 0 15%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
#contact .container > .row {
	display: flex;
	align-items: center;
}
#contact aside.contact-info {
	width: 30%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box ;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact aside.contact-info > div {
	margin-top: 10px;
}
#contact aside.contact-info > div > div {
	display: flex;
	align-items: center;
}
#contact aside.contact-info p, #contact aside.contact-info a, #contact aside.contact-info span {
	line-height: 0.9rem;
	font-size: 0.9rem;
	margin-left: 0;
	text-decoration: none;
}
#contact aside.contact-info span {
	display: inline;
}
#contact form {
	box-sizing: border-box ;
	width: 70%;
	margin: 0;
	border: 0;
	padding: 10px;
	background: transparent;
	color: #575656;
}
#contact input, #contact textarea {
	width: 100%;
	border-radius: 8px;
	resize: none;
}
#contact #hint {
	font-size: 1rem;
	color: red;
}
#contact input[type="submit"], #contact input[type="button"] {
	background: #008178;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	width: auto;
	float: right;
	margin: 10px 0 0 0;
}
#contact input:hover, #contact textarea:hover, #contact input:active, #contact textarea:active, #contact input:focus, #contact textarea:focus {
	border-color: #008178;
}
#contact aside.contact-info {
	color: #575656;
}
#contact aside.contact-info > figure {
	display: flex;
	align-content: center;
	align-items: center;
	border: 3px #008178 solid;
	height: 150px;
	width: 150px;
	margin: auto;
	border-radius: 10rem;
	padding: 1rem;
	justify-content: center;
}
#contact aside.contact-info > div figure {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 10px 0 0;
	display: inline;
}
.captcha {
	display: flex;
	justify-content: flex-end;
}

.lds-dual-ring {
	position: relative;
}
.lds-dual-ring div {
	position: absolute;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	border: 12px solid #000;
	border-color: #008178 transparent #008178 transparent;
	-webkit-animation: lds-dual-ring 1.4s linear infinite;
	animation: lds-dual-ring 1.4s linear infinite;
}
.lds-dual-ring {
	width: 100px !important;
	height: 100px !important;
	-webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
	transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

.loading, .dialog {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	padding: 20px;
	width: 25%;
	margin: 50% auto;
	border: 1px #ccc solid;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-items: center;
	text-align: center;
	z-index: 10000;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%)
}

/* Close Button */
.close-classic, .close-thin, .close-thik {
  color: #777;
  font: 1.2rem arial, sans-serif;
  position: absolute;
  right: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}
.close-classic:after {
  content: 'X'; /* ANSI X letter */
}
.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: transparent;
	color: #575656;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
footer .social-networks {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 180px;
}
footer .social-networks figure {
	margin: 0;
	height: 50px;
	width: 50px;
}
footer .info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}
footer .info p, footer .info a {
	font-size: 0.9rem;
	line-height: 1.2rem;
}
footer .info p {
	margin: 0 1em 0 1em;
}

@media (max-width: 768px) {
	section.full-display {
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
	}
}